body{
    background-color: rgb(0, 255, 34);
}
body{
    margin: 20%;
}
body{
    font-style: italic;
}
input{
    background-color: rgb(173, 155, 144);
}
textarea{
    background-color: rgb(169, 169, 169);
}